# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Angular build
/dist
/tmp
/out-tsc
/.angular

# Environment files
/src/environments/*.ts

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Compiled files
*.class
*.jar
*.war
*.exe

# Temporary files
*.swp
*.swo
*.bak
*.tmp

# Optional: coverage reports
/coverage/
