/* You can add global styles to this file, and also import other style files */
.angular-logo {
  width: 200px;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

.circle-container {
  position: relative;
  width: px;
  height: px;
  margin: 40px auto;
}

.main-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

.pill-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
}

.pill-circle .pill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 -150px; /* radio = la mitad del contenedor */
  padding: 5px 10px;
  background-color: #ff5722;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  transition: transform 0.3s;
}

.pill-circle .pill:nth-child(1) { transform: rotate(0deg) translateY(-150px); }
.pill-circle .pill:nth-child(2) { transform: rotate(90deg) translateY(-150px); }
.pill-circle .pill:nth-child(3) { transform: rotate(180deg) translateY(-150px); }
.pill-circle .pill:nth-child(4) { transform: rotate(270deg) translateY(-150px); }

.pill-circle .pill:hover {
  transform: scale(1.2) rotate(var(--rotate));
}
